container_commands:
  00_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  01_npm_binary:
      command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  02_migrations:
    command: "./node_modules/.bin/sequelize db:migrate"
    leader_only: true
  03_db_seed:
    command: "./node_modules/.bin/sequelize db:seed:all"
    leader_only: true
